.idea
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
bin
src/databases
src/test
src/*.yaml
ariasql
src/ariasql
src/ariasql.exe
src/wal.dat
src/wal.dat.del
src/users.usrs
cli/asql
cli/asql.exe
cli/.asql_history